# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# environment files
/backend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/webhooks/.env

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# landing page
/landing page/node_modules
/landing page/.next/
/landing page/out/
/landing page/.DS_Store
/landing page/*.pem
/landing page/npm-debug.log*
/landing page/.vercel
/landing page/*.tsbuildinfo
/landing page/next-env.d.ts
