.popup-enter {
    opacity: 0;
    transform: scale(0.9);
}

.popup-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease, transform 300ms ease;
}

.popup-exit {
    opacity: 1;
    transform: scale(1);
}

.popup-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms ease, transform 300ms ease;
}
